html {
  --color-1: #463220;
  --color-2: #66593c;
  --color-3: #eceadd;
  --color-4: #f7f8f5;
  --color-5: #ffffff;
  --gap-s: 0.625rem;
  --gap: 1.25rem;
}

body {
  margin: 0px;
  color: var(--color-1);
  background-color: var(--color-4);
}

.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: var(--color-5);
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap);
}

.container {
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
  grid-template-columns: 240px auto;
}

.sidenav li {
  display: flex;
  align-items: center;
  gap: var(--gap-s);

  a {
    flex: 1;
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--color-1);
    padding: var(--gap-s) 0;
  }
}

.sidenav li span {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--gap);
}

.sidenav li:hover span {
  background-color: var(--color-3);
}

.resumo {
  font-size: 1.5rem;
  font-weight: 600;

  h2 {
    font-size: 1.5rem;
    margin-bottom: var(--gap);
    color: var(--color-1);
  }
}

.dateRange {
  gap: var(--gap);
}

.sale {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: var(--gap);
  margin-bottom: var(--gap-s);
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.sale div:last-child {
  justify-self: end;
}
