html {
  --color-1: #463220;
  --color-2: #66593c;
  --color-3: #eceadd;
  --color-4: #f7f8f5;
  --color-5: #ffffff;
  --gap-s: 0.625rem;
  --gap: 1.25rem;
}

body {
  margin: 0px;
  color: var(--color-1);
  background-color: var(--color-4);
}

.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: var(--color-5);
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap);
}

.container {
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
}
